* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Roboto Mono', Roboto;
    background-color: #f2e9d9;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    color: #f2e9d9;
    background-color: #1a1a1a;
}

.icon-container {
    position: relative;
    height: 48px;
}

.icon {
    height: 100%;
    border-radius: 50%;
}

.wink {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wink:hover {
    opacity: 1;
}

#mainpage {
    max-width: 1440px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin: 0 auto;
    padding: 16px;
}

.options {
    flex: 1;
    border: 2px solid #1a1a1a;
    border-radius: 4px;
}

.options-header {
    padding: 8px 16px;
    color: #f2e9d9;
    background-color: #1a1a1a;
}

.options-content {
    padding: 16px;
}

.card-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card {
    position: relative;
    flex: 1;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 16px;
    color: #f2e9d9;
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.8), transparent);
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0;
    transition: 200ms;
}

.card-overlay:hover {
    cursor: pointer;
    opacity: 1;
}

.card-stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.card-stat {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 16px;
}

.card img.svg-icon {
    flex: 0;
    height: 1em;
}

#full-display {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(26, 26, 26, 0.8);
}

#full-display .main-image {
    height: 85%;
}

#full-display .main-image img {
    display: block;
    height: 100%;
    transition: 200ms;
}

#full-display .sidebar {
    position: absolute;
    right: 0px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    max-width: 350px;
    height: 80%;
    color: #f2e9d9;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-sizing: border-box;
    margin-right: 24px;
    padding: 16px 24px;
}

#full-display .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#full-display button {
    background-color: transparent;
    padding: 6px;
    border: none;
    border-radius: 50%;
    transition: 200ms;
}

#full-display button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.2);
}

#full-display button img {
    display: block;
}

#full-display .close-button {
    position: absolute;
    top: 16px;
    left: 16px;
}

#full-display .info-button {
    position: absolute;
    top: 16px;
    right: 16px;
}