* {
    --theme-light: #f2e9d9;
    --theme-dark: #1a1a1a;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Roboto Mono', Roboto;
    background-color: var(--theme-light);
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    color: var(--theme-light);
    background-color: var(--theme-dark);
}

.icon-container {
    position: relative;
    height: 48px;
}

.icon {
    height: 100%;
    border-radius: 50%;
}

.wink {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wink:hover {
    opacity: 1;
}

#mainpage {
    max-width: 1440px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin: 0 auto;
    padding: 16px;
}

.overview {
    flex-shrink: 0;
    border: 2px solid var(--theme-dark);
    border-radius: 4px;
}

.overview-header {
    padding: 8px 16px;
    color: var(--theme-light);
    background-color: var(--theme-dark);
}

.overview-content {
    padding: 16px;
}

.mainpage-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sort-filter-menu {
    position: relative;
    display: flex;
    gap: 16px;
}

.sort-filter-menu button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--theme-light);
    background-color: var(--theme-dark);
    font-family: 'Roboto Mono', Roboto;
    font-weight: bold;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px 16px;
}

.sort-filter-menu button:hover {
    cursor: pointer;
}

#sort-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: calc(100% + 8px);
    left: 0px;
    color: var(--theme-light);
    background-color: var(--theme-dark);
    box-shadow: 1px 1px 2px rgb(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 8px;
    z-index: 1;
}

#sort-menu.hidden {
    display: none;
}

#sort-menu label {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    padding: 4px 8px;
}

#sort-menu label:hover {
    background-color: rgb(255, 255, 255, 0.3);
}

#sort-menu input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font: inherit;
    color: var(--theme-light);
    width: 0.7em;
    height: 0.7em;
    border: 0.1em solid var(--theme-light);
    border-radius: 50%;
}

#sort-menu input[type="radio"]::before {
    display: block;
    flex-shrink: 0;
    content: '';
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    box-shadow: inset 1em 1em var(--theme-light);
    background-color: var(--theme-light);
    transform: scale(0);
    transition: 200ms;
}

#sort-menu input[type="radio"]:checked::before {
    transform: scale(1);
}

/* #sort-menu label:has(input:checked) {
    background-color: rgb(255, 255, 255, 0.3);
} */

.sort-filter-menu select {
    color: var(--theme-light);
    background-color: var(--theme-dark);
    font-family: 'Roboto Mono', Roboto;
    font-weight: bold;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px 16px;
}

.sort-filter-menu select:hover {
    cursor: pointer;
}

.card-column-container {
    display: flex;
    gap: 16px;
}

.card-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card {
    position: relative;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.card-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 16px;
    color: var(--theme-light);
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.8), transparent);
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0;
    transition: 200ms;
}

.card-overlay:hover {
    cursor: pointer;
    opacity: 1;
}

.card-stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.card-stat {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 16px;
}

.card img.svg-icon {
    flex: 0;
    height: 1em;
}

#full-display {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(26, 26, 26, 0.8);
}

#full-display .main-image {
    display: flex;
    align-items: center;
    height: 85%;
    transition: 200ms;
}

#full-display .main-image img {
    display: block;
    height: 100%;
    transition: 200ms;
}

#full-display #display-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0px;
    height: 64px;
    width: 100%;
}

#full-display .zoom {
    height: 36px;
    background-color: var(--theme-dark);
    border-radius: 24px;
    margin-bottom: 12px;
    transition: 200ms;
}

#full-display .zoom button img {
    height: 24px;
}

#full-display .sidebar {
    position: absolute;
    right: 0px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    max-width: 350px;
    height: 80%;
    color: var(--theme-light);
    background-color: var(--theme-dark);
    border-radius: 8px;
    box-sizing: border-box;
    margin-right: 24px;
    padding: 16px 24px;
}

#full-display .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#full-display button {
    background-color: transparent;
    padding: 6px;
    border: none;
    border-radius: 50%;
    transition: 200ms;
}

#full-display button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.2);
}

#full-display button img {
    display: block;
    height: 32px;
}

#full-display button.disabled {
    filter: brightness(0.5);
}

#full-display button.disabled:hover {
    cursor: default;
    background-color: transparent;
}

#full-display .top-buttons {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    gap: 8px;
}

#full-display .previous-button {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

#full-display .next-button {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}