* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Roboto Mono', Roboto;
    background-color: #f2e9d9;
}

.header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    color: #f2e9d9;
    background-color: #1a1a1a;
}

.icon-container {
    position: relative;
    height: 48px;
}

.icon {
    height: 100%;
    border-radius: 50%;
}

.wink {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wink:hover {
    opacity: 1;
}

.mainpage {
    max-width: 1440px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin: 0 auto;
    padding: 16px;
}

.options {
    flex: 1;
    border: 2px solid #1a1a1a;
    border-radius: 4px;
}

.options-header {
    padding: 8px 16px;
    color: #f2e9d9;
    background-color: #1a1a1a;
}

.options-content {
    padding: 16px;
}

.card-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card {
    position: relative;
    flex: 1;
}

.card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    padding: 16px;
    color: #f2e9d9;
    background-image: linear-gradient(to top, rgb(0, 0, 0, 0.8), transparent);
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0;
    transition: 200ms;
}

.card-overlay:hover {
    cursor: pointer;
    opacity: 1;
}

.card-stats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.card-stat {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-right: 16px;
}

.card img.svg-icon {
    flex: 0;
    height: 1em;
}

#full-display {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    z-index: 1;
}

#full-display img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

#full-display .close-button {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 4px;
}

#full-display button {
    background-color: transparent;
    border: none;
}

#full-display button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 4px;
}